[submodule "FlowX-BE"]
	path = FlowX-BE
	url = https://github.com/nguyengiapalth/FlowX-BE
[submodule "FlowX-FE"]
	path = FlowX-FE
	url = https://github.com/nguyengiapalth/FlowX-FE
[submodule "reports"]
	path = reports
	url = https://github.com/nguyengiapalth/FlowX-report
